<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeychainAccessGroup</key>
	<string>$(AppIdentifierPrefix)com.mikaelacaron.Shared</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<false/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>wrench.and.screwdriver.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Maintenence</string>
			<key>UIApplicationShortcutItemType</key>
			<string>NewMaintenance</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>plus.circle.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Vehicle</string>
			<key>UIApplicationShortcutItemType</key>
			<string>AddVehicle</string>
		</dict>
	</array>
</dict>
</plist>
