# EditorConfig is awesome: https://editorconfig.org
[*.swift]

indent_style = space
tab_width = 4
indent_size = 4

end_of_line = lf
insert_final_newline = true

max_line_length = 160
trim_trailing_whitespace = false