rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /alerts/{document=**} {
      allow read; 
    }

    match /vehicles/{vehicleId}/{document=**} {
      allow read: if request.auth != null && request.auth.uid == resource.data.userID;
      allow write: if request.auth != null && request.auth.uid == request.resource.data.userID;
    }
  }
}