rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /alerts/{document=**} {
      allow read; 
    }

    match /vehicles/{vehicleId}/{document=**} {
      // Allow users to create vehicles if authenticated
      allow read, write: if true;
    }
  }
}