//
//  Project.xcconfig
//  Basic-Car-Maintenance
//
//  https://github.com/mikaelacaron/Basic-Car-Maintenance
//  See LICENSE for license information.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Basic-Car-Maintenance.xcconfig"

CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 1.0
