name: SwiftLint
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - dev
jobs:
  SwiftLint:
    runs-on: macos-13
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: SwiftLint
        run: swiftlint --quiet --reporter github-actions-logging
